:root {
    --main-color: #ECEBE4;
    --secondary-color: #CC998D;
    --third-color: #16F4D0;
    --fourth-color: #429EA6;
    --fifth-color: #153B50;
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*0.9);
  }
  body {
    background: linear-gradient(45deg, #ECEBE4,#CC998D);
  }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
}
.left-column {
  flex: 7;
}
.right-column {
  flex: 3;
  padding: 25px;
}
.social-media {
  margin-top: 20px;
}
.social-media a {
  margin-right: 10px;
}
.social-media img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body h1 {
  font-size: 80px;
  margin-bottom: 25px;
}
.name {
  color: #e61919; 
}
img.MainPage {
  width: 380px;
  height: 520px;
  border-radius: 50%; /* Zaokrąglamy rogi zdjęcia */
}
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    height: auto; /* Usuwamy stałą wysokość */
    padding: 10px; /* Zmniejszamy odstępy */
  }

  .left-column, .right-column {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .social-media a {
    display: inline-block; /* Przywracamy domyślne wyświetlanie */
    margin: 5px; /* Zmniejszamy odstępy */
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  img {
    width: 250px; /* Zmniejszamy szerokość obrazka */
    height: 345px;

  }
}

